<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="TestFixtureName" value="WhatsUp"/>
    <add key="Base_URL" value =""/>

    <!--<add key="APP_File" value ="E:\Aditi\Appium\Appium\Appium\Assets\com.whatsapp-2.11.357.apk"/>-->
    <!--<add key="APP_File" value ="E:\Aditi\Appium\Appium\Appium\Assets\LinkedIn-3.4.apk"/>-->
    <add key="APP_File" value="http://appium.github.io/appium/assets/selendroid-test-app-0.10.0.apk"/>
    
    <!--For real devices not for Emulators-->
    <add key="AndroidVersion" value="4.4.4"/>
    
    <!--Capabilities-->
    <add key="browserName" value=""/>
    <add key="deviceName" value="Moto X"/>
    <add key="platformVersion" value="4.4.4"/>
    <add key="platformName" value="Android"/>
    <add key="automationName" value="selendroid"/>
    <add key="appPackage" value="com.whatsapp"/>
    <add key="appActivity" value="com.whatsapp.Main"/>
    <!--<add key="appPackage" value="com.linkedin.android"/>-->
    <!--<add key="appActivity" value="com.linkedin.android.authenticator.LaunchActivity"/>-->
    <!--End Capabilities-->
    
    <!--Determains User Agent: Yes, No-->
    <add key="UserAgent" value="No"/>
    <!-- Pass User Agent Name -->
    <add key="UserAgentName" value="ipad"/>
    <add key="Language" value="English"/>
    <!--Determines which environment to work values supported: Production,QA -->
    <add key ="WorkingEnvironment" value="QA"/>
    <!--Determines what device to use when doing the test: 0-Android,1-iOS,2-FirefoxDevice-->
    <add key="DeviceType" value ="0"/>
    <!--Determines App Type: 0-WebApp, 1-NativeApp, 2-HybridApp-->
    <add key="AppType" value="1"/>
    <!--Determains Automation Approach: 0-Web, 1-Mobile-->
    <add key="AutomationApproach" value="1"/>
    <!--Determines what browser to use when doing the test: 0-IE,1-Firefox,2-Chrome, 3-Safari-->
    <add key="BrowserType" value ="2"/>
    
    <add key="CapturescreenshotforAllsteps" value ="0"/>
    
    <add key="ImplicitTimeOut" value="10"/><!--Time out in Seconds.-->
    <add key="WaitForScript" value="10"/><!--Script Time out in Seconds.-->
    
  </appSettings>
</configuration>